/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

COLOR SYSTEM
Dark Shade 100% #1f2041
Dark Shade 75% #292b56
Dark Shade 50% #5356ac
Dark Shade 25% #a9aad6
Dark Shade 5% #eeeef7
Purple #bc9cff
Green #6fcf97
*/
/* inspiration */
/* https://lilosocial.com/ */
:root {
  --dark-shade-100: #1f2041;
  --dark-shade-75: #292b56;
  --dark-shade-50: #5356ac;
  --dark-shade-25: #a9aad6;
  --dark-shade-5: #eeeef7;
  --purple: #bc9cff;
  --green: #6fcf97;
  --white: #fff;
  --orange-red: #ff4500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--dark-shade-5);
  line-height: 1;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  background-color: var(--white);
  padding: 20px 40px;
}

.copyright {
  /* flex: 1; */
  flex: 0 1 auto;
  align-self: center;
  color: var(--dark-shade-25);
}

.social-network {
  flex: 0 1 auto;
  align-self: center;
}

/* img {
  width: 50px;
  height: 50px;
} */

.social {
  width: 25px;
  height: 25px;
}

.social-contact {
  stroke: #5356ac;
  fill: #bc9cff;
  width: 24px;
  height: 24px;
}

/* 
.twitter {
  mask: url('../assets/images/twitter-brands.svg') no-repeat center;
}

.facebook {
  mask: url('../assets/images/facebook-light-blue.webp') no-repeat center;
}

.instagram {
  mask: url('../assets/images/instagram-brands.svg') no-repeat center;
} 

*/

/* Styling links */
a:link {
  /* color: var(--dark-shade-5); */
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  /* color: var(--dark-shade-25); */
  /* color: #1098ad; */
  /* color: #777; */
}

a:hover {
  /* color: var(--orange-red); */
  /* font-weight: bold; */
  text-decoration: none;
}

a:active {
  text-decoration: none;
  /* font-style: italic; */
  /* background-color: black; */
  /* color: var(--dark-shade-100); 
  font-weight: bold; */
}

.footer-section {
  /* 

  display: flex;
  gap: 24px; */
}

.grid-5-cols {
  margin-bottom: 48px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 12px;
}

.company-col {
  /* box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.09); */
  background-color: yellowgreen;
}

.company-info {
}

.company-description {
}

.company-map {
  grid-column: 1;
}

.navigation {
  grid-column: 2;
}

.about-us {
  grid-column: 3;
}

.support {
  grid-column: 4;
}

.subscription {
  grid-column: 5;
}

.col-header {
  font-weight: 700;
}

.logo-img {
}
