* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* color: #444; */
}

.dashboard {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 24px;
  align-items: start;
}

.side-bar {
  grid-column: 1;
  background-color: #495057;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.container {
  grid-column: 2;
}

.nav-bar {
  background-color: #7950f2;

  display: flex;
  justify-content: space-between;
}

.main-operation {
  color: #fff;
  background-color: #5f3dc4;
  font-size: 18px;
  padding: 18px;

  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.secondary-operation {
  color: #fff;
  background-color: #a61e4d;
  font-size: 18px;
  margin-right: 32px;
}

.main-content {
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
  align-items: start;
}

.email-list {
  background-color: violet;
  grid-column: 1;
}

.email-view {
  /* background-color: rebeccapurple; */
  background-color: powderblue;
  grid-column: 2;
}

.aditional-info {
  background-color: plum;
  grid-column: 3;
}
