/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* 
main color #087f5b
gray colr #343a40
*/

:root {
  --main-color: #087f5b;
  --gray-color: #343a40;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  font-family: 'Inter', sans-serif;
  color: var(--gray-color);
  line-height: 1;
  font-size: 18px;

  display: flex;
  justify-content: center;
}

table {
  width: 800px;
  margin-top: 100px;
  border-collapse: collapse;
}

td,
th {
  padding: 16px 24px;
  text-align: left;
}

thead tr {
  background-color: var(--main-color);
  color: var(--white);
}

thead th {
  width: 25%;
}

tbody tr:nth-child(odd) {
  background-color: #f8f9fa;
}

tbody tr:nth-child(even) {
  background-color: #e9ecef;
}

/*
thead {
  background-color: var(--main-color);
  color: var(--white);
}

tbody {
}

tr,
td {
  padding: 12px;
  margin: 12px;

}

tbody tr:nth-child(odd) {
  background-color: #e6fcf5;
}

tbody tr:nth-child(even) {
  background-color: #ced4da;
}

td {
  text-align: center;
}
*/
