* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Rubik', sans-serif;
  color: #444;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

header {
  background-color: rebeccapurple;
  height: 100vh;
}

nav {
  font-size: 20px;
  font-weight: 700;
  background-color: yellowgreen;

  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 52px;
  margin-bottom: 32px;
}

p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 48px;
}

.btn:link,
.btn:visited {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  background-color: #e67e22;
  text-decoration: none;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 8px;
}

h2 {
  font-size: 44px;
  margin-bottom: 48px;
}

section {
  padding: 96px 0;
  background-color: #f7f7f7;
}
