/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

COLOR SYSTEM
--dark-shade-100:        #ffffff;
--dark-shade-95:  #eeeef7;
--dark-shade-90:  #ddddee;
--dark-shade-85:  #cbcce6;
--dark-shade-80:  #babbde;
--dark-shade-75:  #a9aad6;
--dark-shade-70:  #989acd;
--dark-shade-65:  #8789c5;
--dark-shade-60:  #7578bd;
--dark-shade-55:  #6467b4;
--dark-shade-50:  #5356ac;
--dark-shade-45:  #4b4d9b;
--dark-shade-40:  #42458a;
--dark-shade-35:  #3a3c78;
--dark-shade-30:  #323467;
--dark-shade-25:  #292b56;
--dark-shade-20:  #212245;
--dark-shade-15:  #191a34;
--dark-shade-10:  #111122;
--dark-shade-5: #080911;
--dark-shade-0: #000000;
Dark Shade 100% #1f2041
Dark Shade 75% #292b56
Dark Shade 50% #5356ac
Dark Shade 25% #a9aad6
Dark Shade 5% #eeeef7
Purple #bc9cff
Green #6fcf97
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
